---
import Page from "../layouts/page.astro";
import Icon from "../components/icon.astro";
import Teamcard from "../components/teamcard.astro";
import justic1 from "../assets/justic24.webp"
import justic2 from "../assets/justic25.webp"
import justic3 from "../assets/justic26.webp"
import justic4 from "../assets/justic27.webp"
import justic5 from "../assets/justic28.webp"
import justic6 from "../assets/justic29.webp"
import justic7 from "../assets/justic30.webp"
import justic8 from "../assets/justic31.webp"
import Button from "../components/button.astro";
---

<Page title="The virtue of justice consists inmoderation, as regulated by wisdom">
    <section x-show="activeTab === 'about'">
        <div class="container py-12 px-6 mx-auto">
            <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-12 my-12">
                <div class="space-y-4">
                    <h2 class="font-ledger text-4xl">Advice On A Full Range Of <span class="text-orange">Family Law</span> Matters</h2>
                    <p class="font-bold text-orange">ABOUT JUSTIC FAMILY LAW</p>
                    <p class="font-ledger text-lg">Distinctively re-engineer revolutionary meta-services and premium architectures. Intrinsically incubate intuitive opportunities and real-time potentialities. Appropriately communicate one-to-one technology after plug-and-play networks.</p>
                    <p class="font-ledger text-lg">Quickly aggregate B2B users and worldwide potentialities. Progressively plagiarize resource-leveling e-commerce through resource-leveling core competencies. Dramatically mesh low-risk high-yield alignments before transparent e-tailers. Appropriately empower dynamic leadership skills open-source infrastructures via inexpensive enthusiastically mesh long-term high-impact</p>
                </div>
                <div class="space-y-4">
                    <p class="font-ledger text-lg">after business portals. Globally myocardinate interactive supply chains with distinctive quality vectors. Globally revolutionize global sources through interoperable services. Efficiently innovate open-source infrastructures via inexpensive. Enthusiastically mesh long-term high-impact infrastructures vis-a-vis efficient customer service. Professionally fashion wireless leadership rather than prospective experiences. Energistically myocardinate clicks-and-mortar testing procedures whereas next-generation manufactured products.</p>
                    <p class="font-bold text-orange">FAMILY LAW</p>
                    <p class="font-ledger text-lg">Dynamically reinvent market-driven opportunities and ubiquitous interfaces. Energistically fabricate an expanded array of niche markets through robust products. Appropriately implement visionary e-services vis-a-vis strategic web-readiness. Compellingly embrace empowered e-business after user friendly intellectual capital. Interactively actu myocardinate interactive supply chains with</p>
                </div>
                <div class="space-y-4">
                    <p class="font-ledger text-lg">alize front-end processes with effective convergence. Competently parallel task fully researched data and enterprise process improvements. Appropriately empower dynamic leadership skills after business portals. Globally myocardinate interactive supply chains with distinctive quality vectors.</p>
                    <div class="*:border-gray-200 *:border-t *:py-4">
                        <div class="flex flex-row gap-4">
                            <Icon primary="w-10 text-blue hover:text-orange" path="M12 21v-8.25M15.75 21v-8.25M8.25 21v-8.25M3 9l9-6 9 6m-1.5 12V10.332A48.36 48.36 0 0 0 12 9.75c-2.551 0-5.056.2-7.5.582V21M3 21h18M12 6.75h.008v.008H12V6.75Z" />
                            <div class="">
                                <h6 class="font-bold text-xl text-orange">MAIN OFFICE</h6>
                                <p class="font-ledger text-blue">49 Russell Square, London, UK</p>
                            </div>
                        </div>
                        <div class="flex flex-row gap-4">
                            <Icon primary="w-10 text-blue hover:text-orange" path="M21.75 9v.906a2.25 2.25 0 0 1-1.183 1.981l-6.478 3.488M2.25 9v.906a2.25 2.25 0 0 0 1.183 1.981l6.478 3.488m8.839 2.51-4.66-2.51m0 0-1.023-.55a2.25 2.25 0 0 0-2.134 0l-1.022.55m0 0-4.661 2.51m16.5 1.615a2.25 2.25 0 0 1-2.25 2.25h-15a2.25 2.25 0 0 1-2.25-2.25V8.844a2.25 2.25 0 0 1 1.183-1.981l7.5-4.039a2.25 2.25 0 0 1 2.134 0l7.5 4.039a2.25 2.25 0 0 1 1.183 1.98V19.5Z" />
                            <div class="">
                                <h6 class="font-bold text-xl text-orange">MAIN OFFICE</h6>
                                <p class="font-ledger text-blue">info@justic.co.uk
                                <p class="font-ledger text-blue">office@justic.co.uk</p>
                            </div>
                        </div>
                        <div class="flex flex-row gap-4">
                            <Icon primary="w-10 text-blue hover:text-orange" path="M14.25 9.75v-4.5m0 4.5h4.5m-4.5 0 6-6m-3 18c-8.284 0-15-6.716-15-15V4.5A2.25 2.25 0 0 1 4.5 2.25h1.372c.516 0 .966.351 1.091.852l1.106 4.423c.11.44-.054.902-.417 1.173l-1.293.97a1.062 1.062 0 0 0-.38 1.21 12.035 12.035 0 0 0 7.143 7.143c.441.162.928-.004 1.21-.38l.97-1.293a1.125 1.125 0 0 1 1.173-.417l4.423 1.106c.5.125.852.575.852 1.091V19.5a2.25 2.25 0 0 1-2.25 2.25h-2.25Z" />
                            <div class="">
                                <h6 class="font-bold text-xl text-orange">TELEPHONE</h6>
                                <p class="font-ledger text-blue">+1 800 643 4300</p>
                                <p class="font-ledger text-blue">+1 800 643 5899</p>
                            </div>
                        </div>
                        <div class="flex flex-row gap-4 border-gray-200 border-b">
                            <Icon primary="w-10 text-blue hover:text-orange" path="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                            <div class="">
                                <h6 class="font-bold text-xl text-orange">WORKING HOURS</h6>
                                <p class="font-ledger text-blue">Mon-Sun: 8am – 8pm</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
	<section>
		<div class="relative overflow-hidden pb-12">
			<div class="flex flex-col lg:flex-row *:w-full">
				<div class="relative px-6 md:px-16 py-28 lg:px-36 bg-blue min-h-screen">
                    <p class="font-bold text-orange">FIELDS OF EXPERTISE</p>
                    <h3 class="font-ledger text-3xl md:text-4xl text-white"><span class="text-orange">We specialise in</span> family law, divorce, civil partnerships, prenuptial agreements</h3>
                    <div class="mt-12 flex flex-col gap-6">
                        <div class="">
                            <div class="flex justify-between mb-1">
                                <span class="text-base font-medium text-white">Divorce</span>
                                <span class="text-sm font-medium text-white">87%</span>
                            </div>
                            <div class="w-full bg-gray-200 rounded-full h-2.5">
                                <div class="bg-orange h-2.5 rounded-full" style="width: 87%"></div>
                            </div>
                        </div>
                        <div class="">
                            <div class="flex justify-between mb-1">
                                <span class="text-base font-medium text-white">Civil Partnerships</span>
                                <span class="text-sm font-medium text-white">93%</span>
                            </div>
                            <div class="w-full bg-gray-200 rounded-full h-2.5">
                                <div class="bg-orange h-2.5 rounded-full" style="width: 93%"></div>
                            </div>
                        </div>
                        <div class="">
                            <div class="flex justify-between mb-1">
                                <span class="text-base font-medium text-white">Financial Settlements</span>
                                <span class="text-sm font-medium text-white">86%</span>
                            </div>
                            <div class="w-full bg-gray-200 rounded-full h-2.5">
                                <div class="bg-orange h-2.5 rounded-full" style="width: 86%"></div>
                            </div>
                        </div>
                        <div class="">
                            <div class="flex justify-between mb-1">
                                <span class="text-base font-medium text-white">Prenuptial Agreements</span>
                                <span class="text-sm font-medium text-white">95%</span>
                            </div>
                            <div class="w-full bg-gray-200 rounded-full h-2.5">
                                <div class="bg-orange h-2.5 rounded-full" style="width: 95%"></div>
                            </div>
                        </div>
                    </div>
                </div>
				<div class="relative lg:min-h-screen">
					<div class="lg:absolute w-full -left-24 bottom-0 px-6 py-12 md:px-16 bg-gray-50 z-10">
						<div class="grid max-[450px]:grid-cols-1 grid-cols-2 gap-8 mt-12 *:flex *:flex-row *:gap-4">
							<div class="group">
								<Icon primary="bg-orange text-white transition-all ease-linear duration-500 group-hover:bg-gray-50 group-hover:text-orange group-hover:ring-1 group-hover:ring-orange p-5 w-20" path="M16.5 18.75h-9m9 0a3 3 0 0 1 3 3h-15a3 3 0 0 1 3-3m9 0v-3.375c0-.621-.503-1.125-1.125-1.125h-.871M7.5 18.75v-3.375c0-.621.504-1.125 1.125-1.125h.872m5.007 0H9.497m5.007 0a7.454 7.454 0 0 1-.982-3.172M9.497 14.25a7.454 7.454 0 0 0 .981-3.172M5.25 4.236c-.982.143-1.954.317-2.916.52A6.003 6.003 0 0 0 7.73 9.728M5.25 4.236V4.5c0 2.108.966 3.99 2.48 5.228M5.25 4.236V2.721C7.456 2.41 9.71 2.25 12 2.25c2.291 0 4.545.16 6.75.47v1.516M7.73 9.728a6.726 6.726 0 0 0 2.748 1.35m8.272-6.842V4.5c0 2.108-.966 3.99-2.48 5.228m2.48-5.492a46.32 46.32 0 0 1 2.916.52 6.003 6.003 0 0 1-5.395 4.972m0 0a6.726 6.726 0 0 1-2.749 1.35m0 0a6.772 6.772 0 0 1-3.044 0" />
								<div class="flex flex-col justify-between ">
									<p class="font-bold">INTERNATIONAL FAMILY LAW</p>
									<Icon primary="w-6 transition-all ease-linear duration-500 group-hover:w-8 group-hover:text-orange" path="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3" />
								</div>
							</div>
							<div class="group">
								<Icon primary="bg-orange text-white transition-all ease-linear duration-500 group-hover:bg-gray-50 group-hover:text-orange group-hover:ring-1 group-hover:ring-orange p-5 w-20" path="M15 9h3.75M15 12h3.75M15 15h3.75M4.5 19.5h15a2.25 2.25 0 0 0 2.25-2.25V6.75A2.25 2.25 0 0 0 19.5 4.5h-15a2.25 2.25 0 0 0-2.25 2.25v10.5A2.25 2.25 0 0 0 4.5 19.5Zm6-10.125a1.875 1.875 0 1 1-3.75 0 1.875 1.875 0 0 1 3.75 0Zm1.294 6.336a6.721 6.721 0 0 1-3.17.789 6.721 6.721 0 0 1-3.168-.789 3.376 3.376 0 0 1 6.338 0Z" />
								<div class="flex flex-col justify-between ">
									<p class="font-bold">PRENUPTIAL AGREEMENTS</p>
									<Icon primary="w-6 transition-all ease-linear duration-500 group-hover:w-8 group-hover:text-orange" path="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3" />
								</div>
							</div>
							<div class="group">
								<Icon primary="bg-orange text-white transition-all ease-linear duration-500 group-hover:bg-gray-50 group-hover:text-orange group-hover:ring-1 group-hover:ring-orange p-5 w-20" path="M3.75 21h16.5M4.5 3h15M5.25 3v18m13.5-18v18M9 6.75h1.5m-1.5 3h1.5m-1.5 3h1.5m3-6H15m-1.5 3H15m-1.5 3H15M9 21v-3.375c0-.621.504-1.125 1.125-1.125h3.75c.621 0 1.125.504 1.125 1.125V21" />
								<div class="flex flex-col justify-between ">
									<p class="font-bold">CIVIL PARTHERSHIPS</p>
									<Icon primary="w-6 transition-all ease-linear duration-500 group-hover:w-8 group-hover:text-orange" path="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3" />
								</div>
							</div>
							<div class="group">
								<Icon primary="bg-orange text-white transition-all ease-linear duration-500 group-hover:bg-gray-50 group-hover:text-orange group-hover:ring-1 group-hover:ring-orange p-5 w-20" path="M12 3v17.25m0 0c-1.472 0-2.882.265-4.185.75M12 20.25c1.472 0 2.882.265 4.185.75M18.75 4.97A48.416 48.416 0 0 0 12 4.5c-2.291 0-4.545.16-6.75.47m13.5 0c1.01.143 2.01.317 3 .52m-3-.52 2.62 10.726c.122.499-.106 1.028-.589 1.202a5.988 5.988 0 0 1-2.031.352 5.988 5.988 0 0 1-2.031-.352c-.483-.174-.711-.703-.59-1.202L18.75 4.971Zm-16.5.52c.99-.203 1.99-.377 3-.52m0 0 2.62 10.726c.122.499-.106 1.028-.589 1.202a5.989 5.989 0 0 1-2.031.352 5.989 5.989 0 0 1-2.031-.352c-.483-.174-.711-.703-.59-1.202L5.25 4.971Z" />
								<div class="flex flex-col justify-between ">
									<p class="font-bold">DIVORCE SETTLEMENTS</p>
									<Icon primary="w-6 transition-all ease-linear duration-500 group-hover:w-8 group-hover:text-orange" path="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3" />
								</div>
							</div>
							<div class="group">
								<Icon primary="bg-orange text-white transition-all ease-linear duration-500 group-hover:bg-gray-50 group-hover:text-orange group-hover:ring-1 group-hover:ring-orange p-5 w-20" path="M15.042 21.672 13.684 16.6m0 0-2.51 2.225.569-9.47 5.227 7.917-3.286-.672Zm-7.518-.267A8.25 8.25 0 1 1 20.25 10.5M8.288 14.212A5.25 5.25 0 1 1 17.25 10.5" />
								<div class="flex flex-col justify-between ">
									<p class="font-bold">DIVORCE</p>
									<Icon primary="w-6 transition-all ease-linear duration-500 group-hover:w-8 group-hover:text-orange" path="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3" />
								</div>
							</div>
							<div class="group">
								<Icon primary="bg-orange text-white transition-all ease-linear duration-500 group-hover:bg-gray-50 group-hover:text-orange group-hover:ring-1 group-hover:ring-orange p-5 w-20" path="M19.5 14.25v-2.625a3.375 3.375 0 0 0-3.375-3.375h-1.5A1.125 1.125 0 0 1 13.5 7.125v-1.5a3.375 3.375 0 0 0-3.375-3.375H8.25m0 12.75h7.5m-7.5 3H12M10.5 2.25H5.625c-.621 0-1.125.504-1.125 1.125v17.25c0 .621.504 1.125 1.125 1.125h12.75c.621 0 1.125-.504 1.125-1.125V11.25a9 9 0 0 0-9-9Z" />
								<div class="flex flex-col justify-between ">
									<p class="font-bold">FINANCIAL AGREEMENTS</p>
									<Icon primary="w-6 transition-all ease-linear duration-500 group-hover:w-8 group-hover:text-orange" path="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3" />
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section>
		<div id="team" class="relative overflow-hidden pb-12">
			<div class="flex flex-col md:flex-row *:w-full">
				<div class="relative md:min-h-screen">
					<div class="w-full max-w-screen-xl mx-auto px-6 py-12 bg-gray-50 z-10">
                        <h5 class="font-ledger text-3xl md:text-4xl">Meet The Team</h5>
						<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 mt-12">
                            <Teamcard name="CHRISTINE JUDGE" position="Co founder and CEO" image={justic1} />
                            <Teamcard name="CHRISTOPHER LAW" position="Founder and CEO" image={justic2} />
                            <Teamcard name="JEMIMA KOWALSKI" position="Attorney Assistent" image={justic3} />
                            <Teamcard name="DAMIEN BOZOVIC" position="Attorney Assistent" image={justic4} />
                            <Teamcard name="ROBERT RONSON" position="Civil Attorney" image={justic5} />
                            <Teamcard name="GABRIELLE ASCAMIT" position="Attoreny Specialst -Family Law" image={justic6} />
                            <Teamcard name="ROGER PAPADOPULOS" position="Attorney Specialist – Divorce" image={justic7} />
                            <Teamcard name="ANGELA SONDERS" position="Partner" image={justic8} />
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="relative bg-blue">
		<div class="container px-6 mx-auto relative">
			<div class="h-[50vh] flex flex-col justify-center items-center gap-y-12">
				<h6 class="font-ledger text-white text-3xl md:text-5xl">Contact <span class="before:block before:absolute before:-inset-1 before:-skew-y-3 before:bg-orange relative inline-block"><span class="relative text-white">Justic</span></span> Family Law</h6>
                <Button primary="w-16 p-5 text-orange fill-orange bg-gray-200" second="p-5" />
			</div>
		</div>
	</section>
</Page>